.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table{
  margin: auto;
  margin-top: 2em;
}

.sorts>div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sortsContainer{
  /* display: flex; */
  /* flex-direction: row;
  align-items: center;
  justify-content: center; */
}
.sorts .active{
  background-color: black !important;
  color: white !important;
}
.sorts>div>*, .sortsContainer>*{
  /* padding: 0 0.2em; */
  margin: 0.3rem;
}
.sorts p{
  padding: 0;
  margin: 0;
  text-align: center;
  width:100%;
}
.sortsContainer>*:not(h5){
  border: 1px solid grey;
}
.sorts>div div{
  display: flex;
  flex-direction: column;
  margin-left: auto !important;
}
.sorts button{
  /* width:0.7rem;
  height:0.7rem;
  font-size: 0.5em;
  font-weight: bolder;
  margin: auto;
  padding: 0; */

}
.sorts button :nth-child(1){
  padding-top: 1px !important;

}
.sorts button :nth-child(2){
  padding-bottom: 3px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
